streamlit==1.50.0
earthengine-api==0.1.384
geemap>=0.34.2
folium>=0.20.0
streamlit-folium>=0.25.3
setuptools>=68.0.0
ipython>=8.10
ipywidgets>=8.0
ipyfilechooser>=0.6.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
statsmodels>=0.14.2
plotly>=5.22
matplotlib>=3.7
fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.8.2
python-multipart==0.0.6
